/* color */


:root {
/* background-color */
    --main-white-color: #FFFFFF;
    --footer-and-hero-background-color: #2F303A;
    --section-background-color: #F5F4FA;

/* font-color */
    --main-text-color: #212121;
    --second-text-color:  #757575;
    --third-text-color: #2196F3;    
}



/* main parameters */

body {
    background-color: var(--main-white-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
}




.link a,
.link-text a {
    color: var(--main-text-color);
    text-decoration: none;
}

.address-footer-contacts a {
    font-style: normal;
    color: rgba(134, 134, 134, 0.6)
}
.footer-contacts {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


/* nav */
.nav-main {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


.logo {
font-weight: bold;
font-size: 26px;
line-height: 1.2;
text-decoration: none;
letter-spacing: 0.03em;
}


.logo-up,
.logo-down,
.main-nav:focus,
.main-nav:hover,
.main-nav-on > span {
    color: var(--third-text-color); 

}

.secondary-font {
    font-family: Raleway, sans-serif;
    color: var(--main-text-color);
}


    /* buttons */

.button-two,
.button-one:hover,
.button-one:focus {
    font-family: Roboto, sans-serif;
    background-color: var(--main-white-color);
    color: var(--third-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.06em;
}

.button-one,
.button-two:hover,
.button-two:focus {
    font-family: Roboto, sans-serif;
    background-color: var(--third-text-color);
    color: var(--main-white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.06em;
}



/* герой + подвал */
.hero,
.address-footer,
.basement-footer {
    background-color: var(--footer-and-hero-background-color);
    color: var(--main-white-color);
    font-style: normal;
}

    
.hero-title  {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
}


/* достоинства веб студии */

.advantages-title h3 {   
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.advantages-paragrahs p {
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
}

/* чем мы занимаемся */

.what-are-we-doing-title ,
.our-team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* наша команда */
.our-team {
    background-color: var(--section-background-color);
}
.our-team-person h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    }
    
.our-team-person-profession p {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

/* проекты */
.projects-title h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-title-profession p {
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}


/* верхний бар */
/* Главная навигация */
/* контакты верхнего бара */
/* герой */


